################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MonitorWindowsService.WS/obj/Debug
/MonitorWindowsService.WS/bin/Debug
/packages/Dapper.2.0.30
