<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TiempoIntervalo" value="60" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Server=ap.bsdenterprise.com;Database=MonitorTest;User Id=Developer;Password=$1$adm1n;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>